:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.dashboard-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.dashboard-page-content {
  flex: 1;
  overflow-y: auto;
}

app-nifty50-charts {
  display: block;
}

app-nifty50 {
  display: block;
  padding: var(--spacing-lg);
}
